body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #111;
      font-family: Arial, sans-serif;
      color: #fff;
    }

    .container {
      display: flex;
      align-items: center;
      gap: 60px;
    }

    .panel {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .row {
      display: flex;
      gap: 10px;
      justify-content: center;
      flex-direction: row-reverse;
    }

    .floor {
      width: 70px;
      height: 60px;
      background: #222;
      border: 1px solid #444;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      user-select: none;
      transition: 0.2s;
    }

    .floor:hover {
      background: #333;
    }

    .floor.active {
      background: #666;
      color: #ccc;
      border: 2px solid #fff;
    }

    .floor.current {
      background: yellow;
      color: #000;
      font-weight: bold;
    }

    .floor.done {
      background: #00ff88;
      color: #000;
      font-weight: bold;
    }

    .shaft {
      width: 140px;
      height: 540px;
      border: 2px solid #555;
      position: relative;
      background: #000;
      overflow: hidden;
    }

    .elevator {
      width: 100%;
      height: 60px;
      background: rgb(8, 137, 177);
      position: absolute;
      bottom: 0;
      transition: bottom 0.6s linear;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }

    .status {
      position: absolute;
      bottom: 20px;
      font-size: 14px;
      opacity: 0.7;
    }